<template>
  <div>
    <input v-show="false" ref="inputFile" @change="handleUploadFile" type="file" />
    <div class="groupbutton">
      <div class="new">
        <v-btn elevation="2" dark @click="uploadFile"> + New file</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddFile",
  data() {
    return {
      file: {
        id: {
          type: Number,
        },
        name: {
          type: String,
          allowNull: false,
        },

        is_deteled: {
          type: Number,
          defaultValue: 1,
        },
        likes: {
          type: Number,
          defaultValue: 0,
        },
      },
      Images: null,
    };
  },
  methods: {
    uploadFile() {
      this.$refs.inputFile.click();
    },

    handleUploadFile(event) {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append("files", file);
      console.log(formData);
      this.$emit("click-to-upload", formData);
    },
  },
};
</script>

<style scoped>
.new {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.groupbutton {
  display: flex;
}
</style>