<template>
  <div class="listImage">
    <FileItem 
    v-for="file in listFile" 
    :key="file.id" 
    :fileItem="file"
    @button-delete="buttonDelete"
     />
  </div>
</template>

<script>
import FileItem from "@/components/FileItem.vue";
export default {
  name: "FileList",
  components: { FileItem },
  props: {
    listFile: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {};
  },
  methods: {
    buttonDelete(data) {
      this.$emit("delete-item", data);
    },
  }
};
</script>

<style scoped>
.listImage {
  display: flex;
  flex-wrap: wrap;
}
</style>