<template>
  <div >
    <v-card max-width="200" class="card">
      <v-img
        height="200px"
        :src="`http://localhost:3001/static/files/${fileItem.name}`"
      >
      </v-img>

      <v-card-actions class="action">
        <v-btn light rounded small>
          <v-icon color="black" >mdi-heart</v-icon>
        </v-btn>
        <v-btn @click="deleted" light rounded small >
          <v-icon color="black"> mdi-delete </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>

  </div>
</template>

<script>
export default {
  name: "FileItem",
  props:{
    fileItem:{
      type: Object,
      default: null,
    }
  },
  data(){
    return{
      
    }
  },
  methods: {
    deleted() {
      this.$emit("button-delete", this.fileItem);
    },
  }
};
</script>

<style scoped>
.card{
  background-color: black;
  margin: 20px;
}

</style>
