<template>
  <v-data-table
    :headers="headers"
    :items="users"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>{{ userlogged }}</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on" to="/">
              Home
            </v-btn>
          </template>
          <v-card>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.id"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.username"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.description"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.role"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.actions"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="changeRole(item)"> mdi-pencil </v-icon>
    </template>
    
  </v-data-table>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id",
        },
        { text: "Username", value: "username" },
        { text: "Description", value: "description" },
        { text: "Role", value: "role.name" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      users: [],
      editedIndex: 0,
      editedItem: {
        id: 0,
        username: '',
        description: '',
        role: '',
        actions: 0
      },
    };
  },

  computed: {
    userlogged() {
      // console.log(this.$store.state.userlogged);
      return this.$store.state.userlogged;
    },
  },

  async created() {
    try {
      const response = await axios.get("http://localhost:3001/user");
      this.users = response.data
    } catch (error) {
      console.log(error);
    }
  },

  methods: {
    async changeRole(item) {
      try {
        let dataUser = {user_id: item.id, role_id: 1}
        const response = await axios.put("http://localhost:3001/role", dataUser );
      console.log(response);
      }catch (error) {
        console.log(error);
      }
  },
}
}
</script>

<style>
</style>