<template>
  <div class="page">
    <div>
      <v-card>
        <v-navigation-drawer permanent expand-on-hover>
          <v-list>
            <v-list-item class="px-2">
              <v-avatar color="teal" size="39"></v-avatar>
            </v-list-item>

            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title class="text-h6">
                  {{ userlogged}}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list nav dense>
            <v-list-item link to="/">
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="checkAdmin" link to="/admin">
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Admin</v-list-item-title>
            </v-list-item>

            <v-list-item link @click="logoutPage">
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-card>
    </div>
    <div class="group">
      <div class="box">
        <div class="searchbar">
          <v-toolbar dark dense rounded>
            <v-text-field
              v-model="textInput"
              hide-details="auto"
              prepend-icon="mdi-magnify"
              @input="findById"
            ></v-text-field>
          </v-toolbar>
        </div>
      </div>

      <AddFile @click-to-upload="uploadNewFile" />
      <FileList :listFile="files" @delete-item="removeItem" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import FileList from "@/components/FileList.vue";
import AddFile from "@/components/AddFile.vue";
export default {
  name: "HomeView",
  components: { FileList, AddFile },
  //
  data() {
    return {
      files: [],
      textInput: "",
      checkAdmin: false,
    };
  },
    computed: {
      userlogged() {
        // console.log(this.$store.state.userlogged);
        return this.$store.state.userlogged;
      },
    },
  async created() {
    this.getListImg();
    // this.$store.commit("SET_USER_LOGGED", this.username);
    const response = await axios.get("http://localhost:3001/user")
    console.log(response.data);
    let check = []
    check = response.data.filter(e => e.role.name == "admin")
    console.log(check);
    check.forEach(element => {
      if(element.username == this.userlogged){
        this.checkAdmin = true
      }
    });

  },

  methods: {
    async uploadNewFile(file) {
      try {
        const response = await axios.post("http://localhost:3001/file", file);
        // this.files = response.data
        console.log(response.data);
        this.files.unshift(response.data[0]);
        // this.files = [...response.data, this.files]
        // console.log(this.files);
      } catch (error) {
        console.log(error);
      }
    },

    async getListImg() {
      try {
        const response = await axios.get("http://localhost:3001/file");
        this.files = response.data;
      } catch (error) {
        console.log(error);
      }
    },

    async removeItem(data) {
      try {
        await axios.delete(`http://localhost:3001/file/${data.id}`);
        let index = this.files.findIndex((item) => item.id === data.id);
        this.files.splice(index, 1);
      } catch (error) {
        console.log(error);
      }
    },

    async findById(value) {
      try {
        this.textInput = value;
        const response = await axios.get(
          `http://localhost:3001/file/${this.textInput}`
        );
        this.files = [response.data];
        this.textInput = "";
      } catch (error) {
        this.files = [];
        this.textInput = "";
        console.log(error);
      }
    },

    logoutPage(){
      localStorage.removeItem('token')
      this.$router.push('/login')
    }
  },
};
</script>

<style scoped>
.box {
  display: flex;
  justify-content: center;
}
.searchbar {
  display: flex;
  margin: 20px;
  width: 60%;
}

.group {
  /* margin: 50px; */
  background-color: white;
  border-radius: 5px;
  border-style: outset;
  width: 80%;
  height: auto;
}
.page {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
</style>