<template>
  <div>
      <v-app >
      <v-main>
         <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md6>
                  <v-card class="elevation-12">
                     <v-toolbar dark color="#218c74">
                        <v-toolbar-title>Login</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-form>
                           <v-text-field                         
                              v-model="username"
                              name="login"
                              label="Username"
                              type="text"
                           ></v-text-field>
                           <v-text-field
                              v-model="password"
                              name="password"
                              label="Password"
                              type="password"
                           ></v-text-field>
                           <p v-if="msg">{{ msg }}</p>
                           <p >Not registered? <a href="/register" >Create an account</a></p>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn dark color="#58B19F" @click="loginPage">Login</v-btn>
                     </v-card-actions>
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-main>
   </v-app>
  </div>
</template>

<script>
import axios from 'axios'
export default {
   name:"LoginPage",
   data(){
      return{
         username: '',
         password: '',
         msg: ''
      }
   },
   methods:{
      async loginPage(){
        try {
           console.log(this.username);
        const response = await axios.post("http://localhost:3001/login", {username: this.username, password: this.password} );
        console.log(response.data);
        localStorage.setItem('token', response.data.token)
         this.$router.push({name: 'HomeView'})
         this.$store.state.userlogged = this.username
      } catch (error) {
         this.msg = "*user doesn't exist or password was wrong"
        console.log(error);
      }
     },
   }
}
</script>

<style>

</style>